
.miniCLeft {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size:x-large;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #7749f8;
    width: fit-content;
    padding: 2%;
    margin-top: 85px;
    margin-left: -0.2rem;
    float: left;
    position: absolute;
    bottom: 5%;
    background: white;
}

.miniCRight {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size:x-large;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #7749f8;
    width: fit-content;
    padding: 2%;
    margin-top: 85px;
    margin-rignt: -0.2rem;  
    position: absolute;
    right: 9.5%;
    bottom: 5%;
    background: white;
}