.input1 {
    margin-bottom: 3%;

}

.pics {
    margin-top: 15px;
    
}

.responsive {
    max-width: 50%;
    max-height: 300px;
  }

  .responsiveGetId {
    max-width: 50%;
    max-height: 260px;
  }

.heighttext{
    height:2.5rem;
    width: 10rem;
    font-size: 3vw;
    text-align: center;
  }