.centralizeMainCard {
    color: brown;
    text-decoration: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    position: fixed;
}

.purplButt {
    display: flex;
    justify-content: center;

}

.mainDiv {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size:x-large;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #7749f8;
    height: 90%;
    background: white;
    min-width: 50%;
    max-width: 50%;
}
